# FunkSVD Result Analysis

In [1]:
import pandas as pd
import numpy as np

## Compare Predictions

In [19]:
java = pd.read_csv('build/lenskit/bias-ml-100k-preds.csv')
java.head()

   user  item  prediction
0   770    98    5.032975
1   770   151    4.383211
2   770   192    4.849126
3   770   382    4.344655
4   770   651    4.813358

In [20]:
lkpy = pd.read_csv('build/lkpy/bias-ml-100k-preds.csv')
lkpy.head()

   user  item  prediction
0     2   967    3.355311
1     2  1671    3.190039
2     2  1467    4.031722
3     2  1544    3.287985
4     2   649    3.493628

In [21]:
merged = pd.merge(java.rename(columns={'prediction': 'java'}), lkpy.rename(columns={'prediction': 'lkpy'}))
merged.head()

   user  item      java      lkpy
0   770    98  5.032975  5.032975
1   770   151  4.383211  4.383211
2   770   192  4.849126  4.849126
3   770   382  4.344655  4.344655
4   770   651  4.813358  4.813358

In [22]:
merged['diff'] = merged.java - merged.lkpy
merged['diff'].describe()

count    2.000000e+03
mean    -1.835199e-16
std      7.018996e-16
min     -2.664535e-15
25%     -4.440892e-16
50%      0.000000e+00
75%      0.000000e+00
max      7.105427e-15
Name: diff, dtype: float64