# FunkSVD Result Analysis

In [1]:
import pandas as pd
import numpy as np

## Compare Predictions

In [44]:
java = pd.read_csv('build/lenskit/funksvd-ml-100k-preds.csv')
java.head()

   user  item  prediction
0   770    98    5.186058
1   770   151    4.467652
2   770   192    5.082338
3   770   382    4.709506
4   770   651    4.945323

In [45]:
java.prediction.describe()

count    1120.000000
mean        3.518277
std         0.703388
min         0.893657
25%         3.071336
50%         3.538722
75%         3.997069
max         5.308416
Name: prediction, dtype: float64

In [46]:
lkpy = pd.read_csv('build/lkpy/funksvd-ml-100k-preds.csv')
lkpy.head()

   user  item  prediction
0     2   967    3.350043
1     2  1671    3.155030
2     2  1467    4.229406
3     2  1544    3.341194
4     2   649    3.643334

In [47]:
lkpy.prediction.describe()

count    1120.000000
mean        3.430520
std         0.654392
min         0.942668
25%         2.991999
50%         3.460902
75%         3.894559
max         5.012336
Name: prediction, dtype: float64

In [48]:
merged = pd.merge(java.rename(columns={'prediction': 'java'}), lkpy.rename(columns={'prediction': 'lkpy'}))
merged.head()

   user  item      java      lkpy
0   770    98  5.186058  5.006672
1   770   151  4.467652  4.390869
2   770   192  5.082338  4.989783
3   770   382  4.709506  4.500184
4   770   651  4.945323  4.823110

In [49]:
merged['diff'] = merged.java - merged.lkpy
merged['diff'].describe()

count    1120.000000
mean        0.087758
std         0.228446
min        -1.231746
25%        -0.012037
50%         0.073794
75%         0.193580
max         1.391711
Name: diff, dtype: float64