# FunkSVD Result Analysis

In [1]:
import pandas as pd
import numpy as np

## Compare Predictions

In [8]:
java = pd.read_csv('build/lenskit/funksvd-ml-small-preds.csv')
java.head()

   user  item  prediction
0   316  1005    3.064587
1   316  1311    3.082317
2   316  2493    3.587394
3   316  2692    4.181288
4   316  3210    3.577494

In [9]:
java.prediction.describe()

count    100.000000
mean       3.446440
std        0.367322
min        2.546964
25%        3.187732
50%        3.486498
75%        3.745296
max        4.181288
Name: prediction, dtype: float64

In [10]:
lkpy = pd.read_csv('build/lkpy/funksvd-ml-small-preds.csv')
lkpy.head()

   user   item  prediction
0   175   8839    3.528970
1   175   2433    3.395292
2   175  37739    3.697701
3   175   1420    3.954700
4   175  55261    3.329719

In [11]:
lkpy.prediction.describe()

count    100.000000
mean       3.446361
std        0.367443
min        2.546342
25%        3.187540
50%        3.486890
75%        3.745328
max        4.180564
Name: prediction, dtype: float64

In [16]:
lkpy.prediction.isna().describe()

count     2000
unique       2
top       True
freq      1900
Name: prediction, dtype: object

In [12]:
merged = pd.merge(java.rename(columns={'prediction': 'java'}), lkpy.rename(columns={'prediction': 'lkpy'}))
merged.head()

   user  item      java      lkpy
0   316  1005  3.064587  3.064233
1   316  1311  3.082317  3.082189
2   316  2493  3.587394  3.587228
3   316  2692  4.181288  4.180564
4   316  3210  3.577494  3.576841

In [13]:
merged['diff'] = merged.java - merged.lkpy
merged['diff'].describe()

count    100.000000
mean       0.000079
std        0.000519
min       -0.001609
25%       -0.000049
50%        0.000157
75%        0.000389
max        0.001036
Name: diff, dtype: float64