# ItemItem Result Analysis

In [1]:
import pandas as pd
import numpy as np
from lenskit.algorithms.item_knn import ItemItem

## Compare Predictions

In [2]:
sample = pd.read_csv('build/pairs-ml-100k.csv', names=['user', 'item'])
sample.head()

   user  item
0   147   274
1   147   302
2   147   710
3   147   890
4   147   182

In [3]:
java = pd.read_csv('build/lenskit/user-user-ml-100k-preds.csv')
java = pd.merge(sample, java, how='outer')
java.head()

   user  item  prediction
0   147   274    4.052968
1   147   302    4.729030
2   147   710    3.994022
3   147   890    2.463241
4   147   182    4.334096

In [4]:
lkpy = pd.read_csv('build/lkpy/user-user-ml-100k-preds.csv')
lkpy.head()

   user  item  prediction
0     2    24    3.440168
1     2   170    4.314017
2     2   247    1.438410
3     2   283    4.300830
4     2   387    3.653600

In [5]:
merged = pd.merge(java.rename(columns={'prediction': 'java'}), lkpy.rename(columns={'prediction': 'lkpy'}))
merged.head()

   user  item      java      lkpy
0   147   274  4.052968  4.052968
1   147   302  4.729030  4.729030
2   147   710  3.994022  3.994022
3   147   890  2.463241  2.463241
4   147   182  4.334096  4.334096

In [6]:
merged['diff'] = merged.java - merged.lkpy
merged['diff'].describe()

count    1.083000e+03
mean    -2.655104e-17
std      5.763461e-16
min     -3.996803e-15
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.664535e-15
Name: diff, dtype: float64

In [7]:
merged['status'] = 'both'
merged['status'][merged.java.isna()] = 'lkpy-only'
merged['status'][merged.lkpy.isna()] = 'java-only'
merged['status'][merged.lkpy.isna() & merged.java.isna()] = 'neither'
merged.groupby('status').user.count()

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

status
both       1083
neither     880
Name: user, dtype: int64